html,body{
    height:100%;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.hide{
    display:none;
}
.size12{
    font-size:12px;
}
.size14{
    font-size:14px;
}
.size16{
    font-size:16px;
}
.red{
    color:#f34c4c;
}
.light-gray{
    color:#afb7bb;
}
body{
	color:#333;
}
.main{
	padding:0 5px;
}
p{
	line-height:20px;
	margin:14px 0;
}
*{
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-user-select: none;
-moz-user-focus: none;
-moz-user-select: none;
}

.word{
	overflow:hidden;
	margin-right:5px;
}
.word .letter{
	display: inline-block;
	border: solid 1px #e5e5e5;
	line-height: 16px;
	height: 16px;
	padding: 3px 8px;
	margin:3px 6px;
	border-radius:5px;

}
em{
	font-style:normal;
}
b{
	font-weight:800!important;
	color:#000;
}

.right .input-value{
	color:blue;
}
.clear-input{
	margin:0 8px 0 8px;
	font-size:12px;
}
.target{
	font-size:16px;
	overflow:hidden;
}
.target *{
	cursor:pointer;
}
.input{
	background:none;
	height:24px;
	line-height:24px;
	margin-right:5px;
	margin-left:5px;
	padding:0 5px;
	font-size:16px;
	margin-top:5px;
	width:50px;
}
.word{
	color:#666;
}
.answer{
	font-size:12px;
}
