html,body{
    height:100%;
}
.hide{
    display:none;
}
.size12{
    font-size:12px;
}
.size14{
    font-size:14px;
}
.size16{
    font-size:16px;
}
.red{
    color:#f34c4c;
}
.light-gray{
    color:#afb7bb;
}
body{
	color:#666;
}
p{
	line-height:24px;
}
.word span{
	margin-left:5px;
}
em{
	font-style:normal;
}
.right input{
	color:blue;
}
.clear-input{
	margin:0 5px;
}
